R2Library-main/R2Library-main/src/Xsd/PrecisionSearch/CreateCustomerResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CreateCustomer">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="PSWS_Request">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="MethodName" type="xs:string" />
							<xs:element name="Parameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SourceCode" type="xs:string" />
										<xs:element name="AccountID" type="xs:string" />
										<xs:element name="CustomerName" type="xs:string" />
										<xs:element name="CustomerAddress1" type="xs:string" />
										<xs:element name="CustomerAddress2" type="xs:string" />
										<xs:element name="CustomerCity" type="xs:string" />
										<xs:element name="CustomerState" type="xs:string" />
										<xs:element name="CustomerPostalCode" type="xs:string" />
										<xs:element name="CustomerCountry" type="xs:string" />
										<xs:element name="CustomerPhone" type="xs:string" />
										<xs:element name="CustomerAdminContactLastName" type="xs:string" />
										<xs:element name="CustomerAdminContactFirstName" type="xs:string" />
										<xs:element name="CustomerAdminContactEmailAddress" type="xs:string" />
										<xs:element name="CustomerAdminContactAddress1" type="xs:string" />
										<xs:element name="CustomerAdminContactAddress2" type="xs:string" />
										<xs:element name="CustomerAdminContactCity" type="xs:string" />
										<xs:element name="CustomerAdminContactState" type="xs:string" />
										<xs:element name="CustomerAdminContactPostalCode" type="xs:string" />
										<xs:element name="CustomerAdminContactCountry" type="xs:string" />
										<xs:element name="CustomerAdminContactPhone" type="xs:string" />
										<xs:element name="CustomerAdminContactJobTitle" type="xs:string" />
										<xs:element name="CustomerOrganizationType" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StatusList">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="StatusListing">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:unsignedShort" />
										<xs:element name="Source" type="xs:string" />
										<xs:element name="Description" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Count" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="noNamespaceSchemaLocation" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>